---
title: CAIYY'S BLOG
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 0
---

<div class="space-y-8">

  <div>
    <p>因服务器停止，CAIYY博客正在重构中</p>
    <p>我是CAIYY，过去的就不提了，继续出发 ✌️</p>
  </div>


  <a href="https://caiyy.com" class="inline-block uppercase rounded-sm bg-blue-600 hover:bg-blue-700 px-4 py-2 text-white text-sm">CAIYY</a>
</div>
